*{
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #11D224;
    border-bottom: 10px solid black;
    padding: 10px 20px
}
nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    width: 146px;
    height: 22px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: transparent;
    margin-right: 30px;
}
a::before{
    content: "";
    background-color: black;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}



.banner{
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 80vh;
}


