.button{
    display: inline-block;
    background-color: #1E1B1B;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 rgb(100, 94, 94);
    margin-right: 0px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.button:hover{
    background-color: #516154;
    box-shadow: 5px 5px 0 rgb(115, 133, 118);
}
#btn-fig1{
    position: absolute;
    left: 181px;
    top: 418px;
}

#btn-fig2{
    position: absolute;
    left: 463px;
    top: 418px;
}
