.banner-section{
    border-bottom: 10px solid #000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.banner{
    display: block;
    position: relative;
    width: 100%;
    height: 80vh;
    margin-bottom: 0px;
    padding-bottom: 0px;  
}
